In [8]:
import pandas as pd
import numpy as np
pd.__version__

'2.2.0'

In [5]:
!wget  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2024-01-25 18:45:52--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T184552Z&X-Amz-Expires=300&X-Amz-Signature=5f05551f1034c141cbe2b919fe992a4790957e098e07444d9295c1250e2078f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-25 18:45:52--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240125%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240125T184552Z&X-Amz-Expires=300&X-Amz-Signature=5f05551f1034c141cbe2b919fe992a4790957e098e07444d9295c1250e2078f2&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz’

yellow_tripdata_202 100%[===================>]  23.87M  29.0MB/s    in 0.8s

2024-01-25 18:45:54 (29.0 MB/s) - ‘yellow_tripdata_2021-01.csv.gz’ saved [25031880/25031880]

In [24]:
df = pd.read_csv(
    "yellow_tripdata_2021-01.csv.gz",
    parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"],
    # dtype={
    #     "tpep_pickup_datetime": np.datetime64, 
    #     "tpep_dropoff_datetime": np.datetime64
    # },
    nrows=10
)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0,0.3,18.95,2.5

In [32]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount BIGINT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

0   2021-01-01 00:36:12
1   2021-01-01 00:52:19
2   2021-01-01 01:11:06
3   2021-01-01 00:31:01
4   2021-01-01 00:48:21
5   2021-01-01 00:24:30
6   2021-01-01 00:17:28
7   2021-01-01 00:30:34
8   2021-01-01 01:00:13
9   2021-01-01 00:39:46
Name: tpep_dropoff_datetime, dtype: datetime64[ns]

In [9]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://root:root@01-docker-terraform_db_1:5432/ny_taxi")
engine.connect()

In [33]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [38]:
from time import time

for df in  pd.read_csv(
    "yellow_tripdata_2021-01.csv.gz",
    parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"],
    iterator=True,
    chunksize=100000
):
    t_start = time()
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    
    print(f"inserted another chunk..., took {t_end - t_start:.3f} seconds")

inserted another chunk..., took 16.360 seconds
inserted another chunk..., took 18.752 seconds
inserted another chunk..., took 17.594 seconds
inserted another chunk..., took 15.988 seconds
inserted another chunk..., took 15.934 seconds
inserted another chunk..., took 15.455 seconds
inserted another chunk..., took 16.605 seconds
inserted another chunk..., took 16.420 seconds
inserted another chunk..., took 15.599 seconds
inserted another chunk..., took 15.080 seconds
inserted another chunk..., took 15.199 seconds
inserted another chunk..., took 15.913 seconds

/tmp/ipykernel_12/297102769.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in  pd.read_csv(

inserted another chunk..., took 15.331 seconds
inserted another chunk..., took 9.618 seconds

In [39]:
query = """
select count(*) from yellow_taxi_data;
"""
pd.read_sql(query, con=engine)

     count
0  1369765

In [2]:
!jupyter nbconvert --to=script upload-data.ipynb

[NbConvertApp] Converting notebook upload-data.ipynb to script
[NbConvertApp] Writing 1624 bytes to upload-data.py

In [10]:
import pandas as pd
data_config = {
    "filepath_or_buffer": "yellow_tripdata_2021-01.csv.gz",
    "parse_dates": ["tpep_pickup_datetime", "tpep_dropoff_datetime"],
}

df = pd.read_csv(**data_config,
    nrows=10,
)

df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0,0.3,18.95,2.5

In [3]:
!wget  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2024-01-29 17:51:14--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.64.100.55, 18.64.100.74, 18.64.100.213, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.64.100.55|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-29 17:51:14 (205 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [6]:
import pandas as pd
df_zones = pd.read_csv("taxi+_zone_lookup.csv")
df_zones.head()

/tmp/ipykernel_3111/2896221705.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265

In [11]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-01-29 20:02:00--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T195957Z&X-Amz-Expires=300&X-Amz-Signature=b99bd7bcd6618f8080467b9befcfd092c90a5f1407d9b62c5c551ef4fb62be44&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-01-29 20:02:00--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240129T195957Z&X-Amz-Expires=300&X-Amz-Signature=b99bd7bcd6618f8080467b9befcfd092c90a5f1407d9b62c5c551ef4fb62be44&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  25.9MB/s    in 0.3s

2024-01-29 20:02:01 (25.9 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

In [13]:
import pandas as pd
df_zones = pd.read_csv("green_tripdata_2019-09.csv.gz", parse_dates = ["lpep_pickup_datetime", "lpep_dropoff_datetime"],)
df_zones.head()

/tmp/ipykernel_3111/3601524734.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_zones = pd.read_csv("green_tripdata_2019-09.csv.gz", parse_dates = ["lpep_pickup_datetime", "lpep_dropoff_datetime"],)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0